.js-badge {
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.1s ease-out;
}

.js-badge:hover {
  background-color: rgb(228, 137, 193);
}

input[type='date' i] {
  font-family: neue-haas-grotesk-display-light, sans-serif;
  font-size: 0.7rem;
  font-color: var(white);
  padding-inline-start: 1px;
  cursor: default;
  padding: 0px;
  overflow: visible;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

::placeholder {
  color: var(--OkayWhite);
  font-family: neue-haas-grotesk-display-light, sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.modal-content {
  position: relative;
  overflow-y: auto;
  /* Hide scrollbar for Chrome/Safari/Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Create the fade effect */
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 64px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black calc(100% - 64px),
    transparent 100%
  );
}

.text-field {
  font-size: 1rem;
  color: var(--OkayWhite);
}

.service-category-wrapper {
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #1708bb;
}

.formPage-data-wrapper {
  margin-bottom: 1rem;
}

.date-picker {
  color: var(--OkayWhite);
}

/* Make date picker placeholder visible on iOS */
.date-picker::-webkit-datetime-edit-text,
.date-picker::-webkit-datetime-edit-month-field,
.date-picker::-webkit-datetime-edit-day-field,
.date-picker::-webkit-datetime-edit-year-field {
  color: #e5f0fa; /* or your desired color */
}

/* Style for when the input is empty (shows placeholder) */
.date-picker:not(:valid)::-webkit-datetime-edit {
  color: #fc1dae; /* or your desired placeholder color */
}
